<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th colspan="2">
                    SnakePy Highscores
                </th>
            </tr>
        </tbody>
        <tbody class="resultsTable">
            {{#each model as |score|}}
            <tr>
                <td>{{fa-icon "star"}}{{score.name}}</td>
                <td>{{score.score}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>